{{ define "introduction" }}
  {{- if .Title }}
    {{- doc .Title "        " }}
    {{- if .Description }}
      {{- doc .Description "        " }}
    {{- end }}
  {{- else if .Description}}
    {{- doc .Description "        " }}
  {{- else }}
    {{- "        " }}{{- humanize .Name }}
  {{- end }}{{- if .ExternalDocs }}. See Also: {{ .ExternalDocs.URL }}{{- end -}}
{{- end }}

