name: build-and-test-windows
on: [push, pull_request]
jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.18

      - run: go version
      - run: go env

      - run: go test ./...
      - run: go build
