name: build-and-test-windows
on:
  pull_request:
    branches:
     - main
  push:
    branches:
     - main
jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - run: go version
      - run: go env

      - run: go test ./...
      - run: go build
